<form
  class="formulaire"
  [formGroup]="formulaire"
  (ngSubmit)="onAjoutUtilisateur()"
>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Ex. john.do@stagiaire.mns.com"
      type="email"
      formControlName="email"
    />

    @if(formulaire.get("email")?.hasError('required')){
    <mat-error>Ce champs est obligatoire</mat-error>
    }@else if (formulaire.get("email")?.hasError('email')) {
    <mat-error>Le format de l'email est incorrect</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error>Ce champs est obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input
      matInput
      placeholder="Ex. John"
      type="text"
      formControlName="firstname"
    />
    <mat-error>Ce champs est obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input
      matInput
      placeholder="Ex. Doe"
      type="text"
      formControlName="lastname"
    />
    <mat-error>Ce champs est obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      @for (role of roleList; track role) {
      <mat-option [value]="role">{{ role }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary">
    {{ userId ? "Modifier l'utilisateur" : "Ajouter l'utilisateur" }}
  </button>
</form>
